html, body {
    height: 100%;
    min-height:100%;
    background:linear-gradient(rgb(248,190,0),rgb(259,156,0));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;

}

.Greeting {
    margin: 0;
    border: 0;
    display: inline-block;
    position: relative;
    padding-left: 40%;
}

.Wrap {
    width:1400px;
    margin: 0 auto;

}
h1{
    font-size: 30px;
    background-color: rgb(63,63,63);
    padding: 20px 50px;
    margin-top: 20px;
    color: white;
    font-weight:bold;
    text-align:center;
    border-radius: 30px;
    box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.6);

}


#logout {
    color: white;
    border-radius: 40px;
    font-size:22px;
    font-weight:bold;
    box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.6);
    background-color: rgb(63,63,63);
    border: none;

}


#change, #delete {
    display: inline-block;
    color: white;
    font-weight:bold;
    background-color: rgb(63,63,63);
    border: none;
    font-size:15px;

}

#add-btn{
    color: white;
    font-weight:bold;
    background-color: rgb(63,63,63);
    border: none;
    font-size:20px;
    margin-bottom: 10px;
}


nav{
    line-height:70px;
    display: inline;
    padding-left: 80%;
    padding-top: 2%;
    width: 100%;

}


.container3 {
    background: rgb(36, 36, 36);
    border-radius: 30px;
    padding-top: 2%;
    width:1500px;
    max-width: 1500px;
    padding-bottom: 200px;
    padding-left: 4%;
    font-size:20px;
    color:white;
    text-align: center;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.6);
}


tbody:before {
    content: "-";
    display: block;
    line-height: 2px;
    color: transparent;
}

.table-mine{
    width: 1400px;
}


th {
    background: linear-gradient(to bottom, rgb(248,190,0),rgb(249, 156, 0));
    padding:5px 10px 5px 15px;
    height:auto;
    width:auto;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 500px;

}

td{
    text-align: center;
    padding:5px 20px 5px 15px;
    margin: 0 10px;
    width: auto;
    max-width: 500px;

}

tr{
    height: 10px;
    margin: 0 auto;
    max-width: 500px;
}

#appointmentDelete_modal{
    background: rgba(36, 36, 36, 0.5)
}


#appointment_modal{
    background: rgba(36, 36, 36, 0.5);
}


.modal-content {
    background:black;
}

.modal-title {
    color:white;
}
.close{
    color:white;
    background: white;

}

.ui-datepicker {
    background: white;
}
input[type="checkbox"] {
    margin: 0 auto;
    height: 20px;
    width: 20px;
}